@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font-face definition */
@font-face {
  font-family: "myLocalFont";
  src: local("SonderRegular"),
    url("/fonts/SonderRegular.otf") format("opentype");
}

:root {
  --fontFamilyLocal: "myLocalFont";
}

.social-links {
  display: none;
}

.sonder-font {
  font-family: var(--fontFamilyLocal), sans-serif;
}

.navbar {
  background-color: #ece7e1;
}

body:has(.projects) .navbar,
body:has(.contact) .navbar {
  background-color: #1a1818;
  color: #ece7e1;
}

body:has(.home) .home-link {
  display: none;
}

body:has(.home) .social-links {
  display: block;
}
